<div class="home-container">
  <form [formGroup]="joinForm" (ngSubmit)="joinRoom()">
    <button
      type="button"
      (click)="createRoom()"
      mat-raised-button
      color="primary"
    >
      Create Room
    </button>
    <br />
    <br />
    <div class="section-divider">
      <span></span>
      <span class="text">or</span>
      <span></span>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Enter Room Code</mat-label>
      <input formControlName="code" required matInput />
    </mat-form-field>
    <br />
    <button
      type="submit"
      class="mat-form-field-wrapper"
      mat-stroked-button
      color="primary"
      [disabled]="joinForm.invalid"
    >
      Join Room
    </button>
  </form>
</div>
