.game {
  position: relative;
  flex: 1 1 auto;
  flex-direction: column;
}
.sidebar {
  min-width: 300px;
  max-width: 450px;
  width: 30%;
  background-color: #b6c8c9;
  height: calc(100vh - 60px);
  border-left: 1px solid #0003;
}
.side-nav {
  background-color: #89969a;
}
.side-nav-item {
  cursor: pointer;
  height: 45px;
  overflow: hidden;
  border-right: 1px solid #0003;
  color: #252830;
  flex: 1 1 auto;
}
.selected-side-nav {
  background-color: #252830;
  color: white;
}

/*  chat sidebar  */
.chat {
  height: calc(100% - 45px);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.chat .chat-msgs {
  height: calc(100% - 45px);
  min-height: calc(100% - 45px);
  overflow-y: scroll;
}

/*  perticular message  */
.msg {
  display: flex;
  flex-direction: column;
  padding: 4px 8px;
}
.msg.myMsg {
  align-items: flex-end;
}

.msg-head {
  display: flex;
}
.msg-sender {
  margin-right: 8px;
}
.msg-timestamp {
  color: #69696996;
}
.myMsg .msg-sender {
  order: 2;
  margin: 0 0 0 8px;
}
.myMsg .msg-timestamp {
  order: 1;
}

.msg-content {
  margin-top: 5px;
  position: relative;
  border-radius: 4px;
  padding: 8px;
  width: 80%;
  color: #efefef;
  background-color: #f4614a;
}
.myMsg .msg-content {
  text-align: right;
  background-color: #007a95;
}
.msg-content::after {
  content: "";
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: #f4614a;
  position: absolute;
  bottom: 100%;
  left: 5px;
}
.myMsg .msg-content::after {
  border-bottom-color: #007a95;
  left: initial;
  right: 5px;
}

/*  input form  */
.chat form {
  border-top: 1px solid #0005;
  height: 45px;
}
.msg-inp {
  padding-left: 10px;
  flex: 1 1 auto;
}
.msg-inp input {
  padding: 2%;
  border: none;
  outline: none;
  border-radius: 4px;
  width: 100%;
  box-shadow: 0 0 1px 1px #0005;
}
.msg-inp input:focus {
  box-shadow: 0 0 1px 1px #000a;
}

/*  users list sidebar  */
.user {
  display: flex;
  padding: 8px;
}
.username {
  padding-left: 8px;
}

/*  users in main box  */
.main {
  width: 100%;
  height: calc(100vh - 110px); /* 60 header 50 bottom input*/
  font-size: max(1vw, 12px);
}
.game-overlay {
  width: 100%;
  height: calc(100vh - 60px);
  background-color: #000a;
  position: absolute;
}

.players {
  position: relative;
}
.player {
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 6em;
  background-color: #ccc;
}
.player-name {
  font-weight: bold;
}
.word,
.ready-btn {
  position: absolute;
  width: 5em;
  height: 5em;
  background: #007a95;
  font-size: 1.4em;
  font-weight: bold;
  letter-spacing: 1px;
  transform: translate(-50%, -50%);
}
.ready-btn {
  cursor: pointer;
}
.ready-btn.ready {
  background-color: #f4614a;
}
.ready-btn button {
  pointer-events: none;
  user-select: none;
  background: transparent;
  font-size: 1em;
  border: none;
  outline: none;
}
.controls {
  border-top: 1px solid #0005;
  width: 100%;
  height: 50px;
}
.controls input {
  padding: 4px;
  width: 80%;
  min-width: 200px;
  max-width: 700px;
  border-radius: 4px;
  border: none;
  outline: none;
  box-shadow: 0 0 1px 1px #0005;
}
.controls input:focus {
  box-shadow: 0 0 1px 1px #000a;
}

/*  countdown  */
.countdown {
  user-select: none;
  display: none;
  position: absolute;
  background-color: #000a;
  color: white;
  width: 100%;
  height: calc(100vh - 110px);
}
.show {
  display: flex;
}
.count {
  display: none;
  position: absolute;
  font-size: 2em;
}
.count.visible {
  display: block;
  animation: countAnim 1s cubic-bezier(0.5, 0, 1, 0.5);
}
@keyframes countAnim {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(10);
    opacity: 0.2;
  }
}
