<div class="room-container center">
  <div class="game center">
    <div class="main center">
      <div class="players" #players>
        <div class="player" *ngFor="let user of roomData?.users; let i = index">
          <div class="player-name">{{ user.username }}</div>
          <div class="player-score">Score: {{ user.score }}</div>
          <div class="player-score">{{ user.isReady }}</div>
        </div>
      </div>
      <div class="game-center">
        <div *ngIf="roomData?.isRunning" class="word center">
          {{ roomData?.currentWord }}
        </div>
        <div
          *ngIf="!roomData?.isRunning"
          class="ready-btn center"
          [class.ready]="amIReady"
          (click)="toogleReady()"
        >
          <button type="button">
            {{ amIReady ? "Not Ready" : "Ready" }}
          </button>
        </div>
      </div>
      <!-- game start counter -->
      <div class="countdown center" #countdown>
        <div class="count c5">5</div>
        <div class="count c4">4</div>
        <div class="count c3">3</div>
        <div class="count c2">2</div>
        <div class="count c1">1</div>
      </div>
    </div>
    <form
      [formGroup]="answerForm"
      (ngSubmit)="sendAnswer()"
      class="controls center"
    >
      <input required formControlName="answer" type="text" />
    </form>
    <!-- <div class="game-overlay">waiting for</div> -->
  </div>
  <div class="sidebar">
    <div class="side-nav center">
      <div
        class="side-nav-item center"
        [class.selected-side-nav]="selectedSidebar == 1"
        (click)="selectedSidebar = 1"
      >
        <mat-icon>chat_bubble_outline</mat-icon>
      </div>
      <div
        class="side-nav-item center"
        [class.selected-side-nav]="selectedSidebar == 2"
        (click)="selectedSidebar = 2"
      >
        <mat-icon>group</mat-icon>
      </div>
      <div
        class="side-nav-item center"
        [class.selected-side-nav]="selectedSidebar == 3"
        (click)="selectedSidebar = 3"
      >
        <mat-icon>settings</mat-icon>
      </div>
    </div>

    <div *ngIf="selectedSidebar == 1" class="chat">
      <div class="chat-msgs" #msgs>
        <div
          *ngFor="let msg of messages"
          class="msg"
          [class.myMsg]="msg.isMine"
        >
          <div class="msg-head">
            <div class="msg-sender">
              {{ msg.sender.username }}
            </div>
            <div class="msg-timestamp">
              {{ msg.timestamp | date: "shortTime" }}
            </div>
          </div>
          <div class="msg-content">
            {{ msg.content }}
          </div>
        </div>
      </div>
      <form class="center" [formGroup]="messageForm" (ngSubmit)="sendMessage()">
        <div class="msg-inp center">
          <input formControlName="message" type="text" />
        </div>
        <button
          mat-icon-button
          color="primary"
          aria-label="Example icon button with a menu icon"
        >
          <mat-icon>send</mat-icon>
        </button>
      </form>
    </div>

    <div *ngIf="selectedSidebar == 2" class="users">
      <div class="user" *ngFor="let user of roomData?.users">
        <mat-icon>{{ user.isOwner ? "person" : "perm_identity" }}</mat-icon>
        <div class="username center">
          {{ user.username }}
        </div>
      </div>
    </div>
  </div>
</div>
