.outer {
  position: fixed;
  bottom: 20px;
  width: 100%;
  height: 60px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner {
  width: 80%;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.border {
  width: 100%;
  height: 30px;
  background-color: #fff;
  transition: transform 1s linear;
}
.border-top {
  transform: translateY(-28px);
  border-bottom: 2px solid black;
}
.border-bottom {
  transform: translateY(28px);
  border-top: 2px solid black;
}

.content {
  height: 60px;
  z-index: -5;
  position: absolute;
}
